.statistics-page{
    padding:20px;
}

.statistics-page table{
    width: 50%;
    margin: 10px auto;
}
.statistics-page table {
    border-collapse: collapse;
}

.statistics-page table tr,.statistics-page table td,.statistics-page table th{
    border: 1px solid #45bf9a;
    color: #45bf9a;
    padding:8px;
}