body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color:#fff;
}

* {
  box-sizing: border-box;
}

.main{
  padding:20px;
}
.navigation-content{
  width:300px;
  margin: 20px auto;
}
.navigation a{
  display: inline-block;
  color:#45bf9a;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #45bf9a;
  margin: 0px 10px;
}