.items-content{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    margin-top:30px;
}

.items-block{
   margin-bottom:20px
}

.items-block table tr,.items-block table td,.items-block table th{
    border: 1px solid #f2f2f2;
    padding:8px;
}

.items-block table {
    border-collapse: collapse;
}

.items-block table td,.items-block table th {
    font-size: 15px;
}